$characterIconWidth: 30px;
$characterIconHeight: 30px;

$characters: 'all-characters-amplified' 'all-characters' 'aria' 'bard' 'bolt' 'cadence' 'coda' 'diamond' 'dorian' 'dove' 'eli' 'mary' 'melody' 'monk' 'nocturna' 'story-mode' 'tempo';
