<!DOCTYPE html>
<html lang="en" ng-app="necrodancer.app" ng-strict-di>
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  @{ Html.RenderPartial("_FaviconPartial"); }

  <title ng-if="title" ng-bind="title + ' | Crypt of the NecroDancer | toofz'">Crypt of the NecroDancer | toofz</title>
  <title ng-if="!title">Crypt of the NecroDancer | toofz</title>

  <link rel="stylesheet" href="~/app/vendor.css" use-manifest="true">
  <link rel="stylesheet" href="~/app/app.css" use-manifest="true">

  @Html.Raw(JavaScriptSnippet.FullScript)
</head>

<body>
  @RenderBody()
  <div class="container">
    <ui-view></ui-view>

    <footer>
      <p>
        <span id="copyright">&#169; 2017 Leonard Thieu</span>
        <a href="https://twitter.com/Mendayen" class="fa fa-twitter"></a>
        <a href="https://github.com/leonard-thieu/toofz-necrodancer" class="fa fa-github"></a>
      </p>
      <p>v@(Global.Version)</p>
    </footer>
  </div>

  <script>
    'use strict';
    var apiBaseUrl = 'https://api.toofz.com';
  </script>
  <script src="~/app/vendor.js" use-manifest="true"></script>
  <script src="~/app/app.js" use-manifest="true"></script>
  <environment exclude="Development">
    <script>
      'use strict';
      angular
        .module('necrodancer.app')
        .config(['$compileProvider', function($compileProvider) {
          $compileProvider.debugInfoEnabled(false);
          $compileProvider.commentDirectivesEnabled(false);
          $compileProvider.cssClassDirectivesEnabled(false);
        }]);
    </script>
  </environment>
</body>
</html>
